<!DOCTYPE html>
<html lang="en">
<head>
    <script bis_use="true" type="text/javascript" charset="utf-8"com ></script>
    <title>Sahiti</title>
  </head>

    <header>
        <div class="header">
            <h3>Sahiti Login</h3>
        </div>
    </header>
    <body>
        <h1>Login Page</h1>
        <br>
        <a href="/login/google">Login with Google</a>
      </body>
</html>